<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="format-detection" content="date=no"/>
    <title>运营商认证结果</title>
    <script type="text/javascript" src="../../js/auth/v2/common.js"></script>

</head>
<body>
    <div style="width: 100%; height: 100%">
        <div style="width: 100%; text-align: center; height: 10rem; line-height: 10rem;font-size: 0.34rem;">认证中，请等待处理结果</div>
    </div>
</body>
</html>
