<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style></style>
    <style type="text/css">.ng-animate.item:not(.left):not(.right) {
        -webkit-transition: 0s ease-in-out left;
        transition: 0s ease-in-out left
    }</style>
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-shim {
        visibility: hidden;
    }

    .ng-anchor {
        position: absolute;
    }
    .dataTables_wrapper  {
        margin-top: 20px;
    }
    </style>
    <title>认证报告</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="../../css/jxl_bower_stylesheet_7bdfbd21f0.min.css"/>
    <link rel="stylesheet" href="../../css/jxl_dev_platform_4e3d90716a.min.css"/>
    <style></style>
    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255, 255, 255, .38) solid !important;
        border-radius: 4px !important;
    }

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
    </style>
</head>
<head>
</head>
<body>
<article class="jxl-structure-core"> <!-- uiView: undefined -->
    <ui-view class="ng-scope" style=""><!-- uiView: content -->
        <div ui-view="content" class="ng-scope">
            <div class="container ng-scope">
                <div class="report report-fade  watermark-box active" ng-class="{
  'active': reportDetail.showRenderReport,
  }" style="">
                    <div class="watermark-list-text" ng-show="reportDetail.watermarkShow">
                        <!-- ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                  class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope" style="">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index --><span ng-repeat="num in reportDetail.watermarkList track by $index"
                                                                                                      class="ng-binding ng-scope">东莞市浙金信息科技有限公司</span>
                        <!-- end ngRepeat: num in reportDetail.watermarkList track by $index -->
                    </div>
                    <div class="watermark-theme-text">
                        <h2 class="h2 report-title text-center" style="font-weight: 700;">
                            运营商报告
                            <div id="showReport" style="display: none;">
                                <button style="right: auto" class="btn btn-primary">打印</button>
                                <button class="btn btn-primary">导出图片</button>
                            </div>

                        </h2>

                        <!--基本信息开始-->
                        <div class="report-basic-info">
                            <table class="table" style="margin-bottom:10px;">
                                <tbody>
                                <tr th:if="${report.data != null}">
                                    <td>
                                        <em class="ng-binding" th:inline="text">编号：[[${report.task_id}]]</em>
                                    </td>
                                    <td style="text-align: right">
                                        <em class="ng-binding" th:inline="text">报告时间：[[${report.data.created_time}]]</em>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--基本信息结束-->

                        <h4 class="report-item-title">用户信息</h4>

                        <!--申请信息核查开始-->
                        <div class="report-basic-info" style="margin: 10px 0px;" th:if="${report.data != null}">
                            <table class="table teb-time">
                                <!-- ngRepeat: reportapp in reportDetail.report.application_check -->
                                <tbody th:with="data = ${report.data}" class="ng-scope" style="">
                                <tr class="ng-scope">
                                    <th>姓名：</th>
                                    <td>
                                        <em class="ng-binding" th:text="${data.real_name}">黄一一</em>
                                        <span class="label label-danger ng-scope" th:if="${!data.real_name_matched}"><i
                                                class="fa fa-user-secret" aria-hidden="true"></i>和运营商数据不匹配</span>

                                        <span class="label label-success ng-scope" th:if="${data.real_name_matched}"><i
                                                class="fa fa-user-secret" aria-hidden="true"></i>和运营商数据匹配</span>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="ng-scope" th:with="taskData = ${data.task_data}" >
                                    <th>身份证：</th>
                                    <td>
                                        <em class="ng-binding" th:text="${data.identity_code}">440921201010101011</em>


                                        <span class="label label-danger ng-scope" th:if="${!data.identity_code_matched}"><i
                                                class="fa fa-user-secret" aria-hidden="true"></i>和运营商数据不匹配</span>

                                        <span class="label label-success ng-scope" th:if="${data.identity_code_matched}"><i
                                                class="fa fa-user-secret" aria-hidden="true"></i>和运营商数据匹配</span>
                                    </td>

                                    <td>
                                        <em class="ng-binding" th:if="${#maps.containsKey(taskData, 'base_info')}"
                                            th:inline="text">[[${taskData.base_info.user_sex}]]｜[[${taskData.base_info.cert_addr}]]
                                        </em>
                                    </td>
                                </tr>
                                <tr th:with="taskData = ${data.task_data}" th:if="${#maps.containsKey(data.task_data, 'account_info')}" class="ng-scope">
                                    <th>手机号：</th>

                                    <td th:with="reliability = ${taskData.account_info.real_info == '已登记'}"
                                        th:class="${(reliability ? 'text-success' : 'text-danger') + ' ng-scope'}">

                                        <em class="ng-binding" th:inline="text">[[${data.channel_src}]]｜
                                            <span th:class="${'label ' + (reliability ? 'label-success' : 'label-danger') + ' ng-binding'}">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                实名认证[[${taskData.account_info.real_info}]]</span>
                                        </em>
                                    </td>
                                    <td>
                                        <em class="ng-binding" th:text="${data.user_mobile}">15302688343</em>

                                        <span class="label label-success ng-scope" th:if="${taskData.account_info.mobile_status == '正常'}" th:inline="text">
                                            <i class="fa fa-user-secret" aria-hidden="true"></i>账户状态: [[${taskData.account_info.mobile_status}]]</span>

                                        <span class="label label-danger ng-scope" th:if="${taskData.account_info.mobile_status != '正常'}" th:inline="text">
                                            <i class="fa fa-user-secret" aria-hidden="true"></i>账户状态: [[${taskData.account_info.mobile_status}]]</span>
                                    </td>

                                </tr>
                                <!-- ngIf: reportapp.app_point=='cell_phone' -->
                                <tr th:with="taskData = ${data.task_data}" th:if="${#maps.containsKey(data.task_data, 'account_info')}" class="ng-scope">
                                    <td></td>
                                    <td>
                                        <ul class="phone-list">
                                            <li th:inline="text">
                                                入网时间： [[${taskData.account_info.net_time}]]
                                                <span class="label label-success" th:if="${taskData.account_info.net_age &gt; '3'}">入网大于3个月</span>
                                                <span class="label label-danger" th:if="${taskData.account_info.net_age &lt; '3'}">入网少于3个月</span>
                                            </li>
                                            <li th:inline="text">
                                                账户余额： [[${#numbers.formatDecimal(T(Integer).parseInt(taskData.account_info.account_balance)/100.0, 1,2)}]]
                                            </li>
                                        </ul>
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--申请信息核查结束-->

                        <h4 class="report-item-title">缴费信息</h4>
                        <div class="report-item">

                            <table id="payment_info_table" class="table" style="margin-bottom: 0px;">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>金额</th>
                                    <th>缴费渠道</th>
                                    <th>缴费方式</th>
                                </tr>
                                </thead>
                                <tbody th:if="${#maps.containsKey(report.data.task_data, 'payment_info')}">
                                    <tr th:each="paymentInfo : ${report.data.task_data.payment_info}">
                                        <td th:text="${paymentInfo.pay_date}"></td>
                                        <td th:text="${#numbers.formatDecimal(T(Integer).parseInt(paymentInfo.pay_fee)/100.0, 1,2)}"></td>
                                        <td th:text="${paymentInfo.pay_channel}"></td>
                                        <td th:text="${paymentInfo.pay_type}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="height: 20px"></div>
                        <h4 class="report-item-title">通话清单</h4>
                        <div class="report-item">
                            <div class="box-body table-responsive">
                                <table id="call_info_table" class="table table-bordered table-striped"  th:if="${#maps.containsKey(report.data.task_data, 'call_info')}">
                                    <thead>
                                    <tr>
                                        <th>起始时间</th>
                                        <th>通话地点</th>
                                        <th>呼叫类型</th>
                                        <th>对方号码</th>
                                        <th>通话时长</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <th:block th:each="info : ${report.data.task_data.call_info}">
                                    <tr th:each="record : ${info.call_record}">
                                        <td th:text="${record.call_start_time}">Trident</td>
                                        <td th:text="${record.call_address}">Internet
                                            Explorer 4.0</td>
                                        <td th:text="${record.call_type_name}">Win 95+</td>
                                        <td th:text="${record.call_other_number}"> 4</td>
                                        <td th:text="${record.call_time}">X</td>
                                    </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->


                        <div style="height: 20px"></div>
                        <h4 class="report-item-title">短信清单</h4>
                        <div class="report-item">
                            <div class="box-body table-responsive">
                                <table id="sms_info_table" class="table table-bordered table-striped"  th:if="${#maps.containsKey(report.data.task_data, 'sms_info')}">
                                    <thead>
                                    <tr>
                                        <th>起始时间</th>
                                        <th>短信地区</th>
                                        <th>发送方式</th>
                                        <th>信息类型</th>
                                        <th>对方号码</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <th:block th:each="info : ${report.data.task_data.sms_info}">
                                        <tr th:each="record : ${info.sms_record}">
                                            <td th:text="${record.msg_start_time}">Trident</td>
                                            <td th:text="${record.msg_address}">Internet
                                                Explorer 4.0</td>
                                            <td th:text="${record.msg_type}">Win 95+</td>
                                            <td th:text="${record.msg_channel}"> 4</td>
                                            <td th:text="${record.msg_other_num}"> 4</td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>

                </div>
            </div>


            <style class="ng-scope">

                tbody td, tbody th {
                    border: 1px solid #CCCCCC;
                }

                tbody tr > th {
                    background: #f5f5f5;
                    font-size: 13px !important;
                }

                td .label {
                    margin-right: 10px;
                }

                td .label {
                    margin: 3px;
                }

                .table42 td {
                    font-size: 8px !important;
                }

                .table-td {
                    text-align: right;
                    padding-right: 15px;
                }

                .report42 td {
                    font-size: 13px !important;
                }

                .report42 .fa {
                    margin-right: 5px;
                }

                h2 {
                    margin-top: 15px !important;
                }
            </style>
        </div>
    </ui-view>
</article>

<!-- jQuery 2.0.2 -->
<script src="../../libs/jquery-2.1.4.js"></script>
<!-- Bootstrap -->
<script src="../../libs/bootstrap.min.js" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script src="../../plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
        var tableConfig = {
            "oLanguage": { //国际化配置
                "sProcessing" : "正在获取数据，请稍后...",
                "sLengthMenu" : "显示 _MENU_ 条",
                "sZeroRecords" : "没有您要搜索的内容",
                "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                "sInfoEmpty" : "记录数为0",
                "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
                "sInfoPostFix" : "",
                "sSearch" : "搜索",
                "bSort": false,
                "asSorting" : [[0, "desc"]],
                "oPaginate": {
                    "sFirst" : "第一页",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    "sLast" : "最后一页"
                }
            }
        };
        $("#call_info_table").dataTable(tableConfig);
        $("#payment_info_table").dataTable(tableConfig);
        $("#sms_info_table").dataTable(tableConfig);
    });
</script>
</body>
</html>
