
input[type=password]{
    width: 100%;
    -webkit-user-select: text;
    border-radius: 5px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
}

#password, #keyboard input,select,textarea,button{font-family:"Microsoft YaHei",arial;}
*{margin:0;padding:0; border: 0; box-sizing:border-box; -webkit-box-sizing:border-box;}
#password, #keyboard ul, li {list-style-type:none;}
#password, #keyboard em,i,ins{ font-style:normal;}

#password_mask{ position:fixed; top:0; left:0; bottom:0; right:0; z-index:99; background:rgba(0,0,0,0.5); display:none;}
#keyboardDIV{ position:fixed; bottom:0; left:0; right:0; background:#fafafa; z-index:600; display:none;}
#keyboardDIV p#set_text{ text-align:center; padding:10px; font-size:14px;}
#password{ display:-webkit-box; display:-webkit-flex; display:flex;-webkit-box-align:center; -webkit-align-items:center; align-items:center; border:solid 1px #959595; margin:0 10px; border-radius:5px;}
#password input{ border-right:solid 1px #959595; border-radius:0; text-align:center; font-size:30px; color:#000; -webkit-box-flex:1; -webkit-flex:1; flex:1; opacity:1 !important; line-height:0 !important; padding-bottom:3px;}
#password input::-webkit-input-placeholder{ color:#000;}
#password input:first-child{ border-radius:5px 0 0 5px; }
#password input:last-child{ border-right:none; border-radius:0 5px 5px 0;}
#forget{ text-align:right; padding:15px 10px; font-size:14px;}
#forget a{ color:#f19f00;}
#key ul li{ float:left; width:33.33333333%; text-align:center; border-right:solid 1px #CCC; border-bottom:solid 1px #CCC; font-size:16px; padding:5px 0; background:#FFF; cursor:pointer;}
#key ul li:active{ background:rgba(0,0,0,0.1);}
#key ul li span{ font-weight:600; font-size:25px; font-family:Georgia, "Times New Roman", Times, serif;}
#key ul li em{ display:block; font-size:12px; height:21px; overflow:hidden; letter-spacing:2px; color:#666; transform:scale(0.8); -webkit-transform:scale(0.8); margin-top:-2px;}
#key ul li:nth-child(3n){ border-right:none;}
#key ul li:nth-child(10){ border-bottom:none; background:#d2d2da; padding:10px 0; height:43px; line-height:43px; padding:0;}
#key ul li:nth-child(11){ border-bottom:none; padding:10px 0;}
#key ul li:nth-child(12){ border-bottom:none; background:#d2d2da; padding:10px 0; height:43px; line-height:43px; padding:0;}