<!DOCTYPE html>
<html>
<head>
<title>流量设置</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/modules/flow/setting.js"></script>
</head>
<body>
	<div id="rrapp">
		<div class="panel panel-default">
			<div class="panel-heading">流量设置</div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-1 control-label"></div>
					<div class="col-sm-11 control-label" style="border: 1px solid orange;
					    text-align: center;
					    height: 50px;
					    line-height: 40px;
					    border-radius: 5px;
					    background-color: #fff5e4;
					    color: orange;">
						请开启流量推送之前,确保余额足够. 当前价格: 每CPA <span id="cpa"></span> 元, 100个A起步
					</div>
				</div>
				<input type="hidden" id="cpaInput" />
				<input type="hidden" id="remainingSumInput" />
				<div class="form-group">
					<div class="col-sm-2 control-label">推送状态：</div>
					<div class="col-sm-10">
						<label class="radio-inline">
					      <input type="radio"  value="0" id="statusClose" checked="checked" name="status">关闭
					    </label>
					    <label class="radio-inline">
					      <input type="radio"  value="1" id="statusOpen" name="status">打开
					    </label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">目标渠道：</div>
					<div class="col-sm-10">
						<select class='form-control' id="targetChannel">
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">余额：</div>
					<div class="col-sm-10">
						<label class="control-label" id="remainingSum">loading...</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">流量需求数量：</div>
					<div class="col-sm-10">
						<input type="tel" class="form-control" id="flowCount" min="100"  placeholder="流量需求数量:最低100"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" id="btn-start" class="btn btn-primary" value="开始推送" />
					<label id="btn-tips" style="display:none;">当前有正在执行的流量采购任务,暂不可操作</label>
				</div>
			</form>
		</div>
	</div>
</body>
</html>