<!DOCTYPE html>
<html>
<head>
<title>出借人</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/daterangepicker.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../libs/validator.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" class="applyForm" v-cloak>

	<div id="transactionLenderLayer">
		<form class="form-horizontal">
		<div class="form-group">
				<div class="col-sm-2 control-label">借款人姓名<span style="color: red">*</span>：</div>
				<div class="col-sm-10">

					<input type="text" class="form-control"   v-model="transactionEvt.borrowername"   placeholder="借款人姓名">
				</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">借款日期<span style="color: red">*</span>：</div>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="beginDateRange" placeholder="借款日期">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">还款日期<span style="color: red">*</span>：</div>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="repayDateRange" placeholder="还款日期">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">借款金额<span style="color: red">*</span>：</div>
			<div class="col-sm-10">
				<input type="text" class="form-control"   v-model="transactionEvt.amount"   placeholder="借款金额">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">年利化率<span style="color: red">*</span>：</div>
			<div class="col-sm-10">

				<select  v-model="transactionEvt.rate" class="form-control dropdown">
					<option value="24">24%</option>
					<option value="23">23%</option>
					<option value="22">22%</option>
					<option value="21">21%</option>
					<option value="20">20%</option>
					<option value="19">19%</option>
					<option value="18">18%</option>
					<option value="17">17%</option>
					<option value="16">16%</option>
					<option value="15">15%</option>
					<option value="14">14%</option>
					<option value="13">13%</option>
					<option value="12">12%</option>
					<option value="11">11%</option>
					<option value="10">10%</option>
					<option value="9">9%</option>
					<option value="8">8%</option>
					<option value="7">7%</option>
					<option value="6">6%</option>
					<option value="5">5%</option>
					<option value="4">4%</option>
					<option value="3">3%</option>
					<option value="2">2%</option>
					<option value="1">1%</option>

				</select>

			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">用途<span style="color: red">*</span>：</div>
			<div class="col-sm-10">
				<select  v-model="transactionEvt.usageType" class="form-control dropdown">
					<option value="1">个体经营</option>
					<option value="2">消费</option>
					<option value="3">助学</option>
					<option value="4">创业</option>
					<option value="5">租房</option>
					<option value="6">旅游</option>
					<option value="7">装修</option>
					<option value="8">医疗</option>
					<option value="0">其它</option>
				</select>

			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
			<div class="col-sm-10" >
			    <input type="button" class="btn btn-primary" @click="savetransaction" value="确定"/>
			</div>
		</div>
		</form>
	</div>
</div>
<script src="../../libs/moment.min.js"></script>
<script src="../../libs/daterangepicker.js"></script>
<script src="../../js/modules/tx/txlender_transaction.js"></script>
</body>
</html>