@charset "utf-8";
/* CSS 布局 */
.clear:after {
	clear: both;
	display: table;
	content: '';
}
.float-L {
	float: left;
}
.float-R {
	float: right;
}
.main {
	width: 100%;
	min-width: 1200px;
}
.main .content {
	width: 1200px;
	margin: 0 auto;
}
.content .cont-left {
	width: 20%;
	min-height: 200px;
	float: left;
}
.content .cont-right {
	width: 79%;
	min-height: 200px;
	float: right;
}
.sidebar .advert {
	text-align: center;
}
.sidebar .advert img {
	width: 100%;
	max-width: 126px;
	margin: 0 auto;
	padding-top: 30px;
	display: block;
}
.sidebar .advert p {
	text-align: center;
	color: #999;
	padding-top: 12px;
}
/*色系*/
.c0069a0 {
	color: #0069a0 !important;
}
.b0069a0 {
	background: #0069a0 !important;
}
.ced6d00 {
	color: #ed6d00 !important;
}
.bed6d00 {
	background: #ed6d00 !important;
}
/*----*/
.add {
	color: #31b400;
}
.minus {
	color: #F00;
}
/*--会员等级图标--*/
.vipLV-icon {
	padding: 0 14px;
	background-image: url('https://www.yesvion.com/Public/images/icon/vipLV.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}
.lv0 {
	background-position: -29px 0;
}
.lv1 {
	background-position: -59px 0;
}
.lv2 {
	background-position: -88px 0;
}
.lv3 {
	background-position: -118px 0;
}
.lv4 {
	background-position: -148px 0;
}
/*--气泡提示--*/
.tool-tip {
	overflow: inherit !important;
}
.tool-tip .items {
	background: #fff;
	border: 1px solid #c0c9ce;
	border-radius: 3px;
	color: #8a949c;
	font-size: 12px;
}
.tool-tip-col {
	padding: 10px 15px;
}
.tool-tip .ar_up, .tool-tip .ar_up_in {
	position: absolute;
	width: 0;
	height: 0;
	left: 50%;
	top: -16px;
	margin-left: -8px;
	overflow: hidden;
	border: 8px solid transparent;
	border-bottom-color: #adadad;
}
.tool-tip .ar_up_in {
	top: -15px;
	border-bottom-color: #FFF;
}
.tool-tip .ar_down {
	top: auto;
	bottom: -16px;
	border-bottom-color: transparent;
	border-top-color: #adadad;
}
.tool-tip .ar_down_in {
	top: auto;
	bottom: -15px;
	border-bottom-color: transparent;
	border-top-color: #FFF;
}
/*--点--*/
[class^="dot-"], [class*="dot-"] {
 width: 6px;
 height: 6px;
 display: block;
 border-radius: 50px;
 -moz- border-radius: 50px;
 -webkit- border-radius: 50px;
 -ms- border-radius: 50px;
}
.dot-alert {
	background: #F00;
}
/*--线--*/
.line-dotted {
	width: 100%;
	top: 50%;
	left: 0;
	position: absolute;
	border-top: 1px dotted #c7c7c7;
}
/*--分页区--*/
.paging {
	padding: 20px;
	background-color: #fff;
}
/*--弹框--*/
.popUp {
	display: none;
}
.popUpMask {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	_position: absolute;
	z-index: 9998;
	background: rgba(0, 0, 0, 0.7);
}
.popUpCont {
	width: 100%;
	top: 20%;
	z-index: 9999;
	position: fixed;
}
.popUpCont .puc {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 20px;
	color: #666;
	position: relative;
}
.verify-img {
	max-width: 460px;
	height: 180px;
	background: #fff;
}
.position-rel {
	position: relative;
}
/*--关闭按钮--*/
.closebtn {
	width: 30px;
	height: 30px;
	top: -15px;
	right: -15px;
	cursor: pointer;
	position: absolute;
	background-image: url('../img/icon/close.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #F00;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.closebtn:hover {
	transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
/*--内页banner--*/
.banner-inner {
	width: 100%;
	height: 198px;
	margin: 10px auto;
}
.banner-inner a {
	display: block;
	height: 198px;
	position: relative;
}
/*--输入有误--*/
.error {
    width: 100%;
    line-height: 43px;
    bottom: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    position: absolute;
    background: rgb(255, 44, 55);
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}