@charset "utf-8";
@import url("css.css");



/*---------------------------------登录------------------------------*/
.logo{display:flex;flex-direction:column;justify-content:center;align-items:center; margin:20px;}
.logo img{ width:50%;}
.login_box{ margin:20px;}
.login_box ul li{ margin-bottom:20px;}
.login_input{ height:40px; line-height:40px; width:100%; position: relative; border:1px solid #dedede; border-radius: 50px;
background-color: white;}
.login_input span{ width:40px; height:40px; position: absolute; left:0px; top:0px;}
.login_input:hover span.li1{ background:url(../images/login_box_ico_01h.png) center no-repeat; }
.login_input:hover span.li2{ background:url(../images/login_box_ico_02h.png) center no-repeat;}
.login_input:hover span.li3{ background:url(../images/login_box_ico_03h.png) center no-repeat; }
.login_input:hover span.li4{ background:url(../images/login_box_ico_04h.png) center no-repeat;}
.login_ico{ width:28px; height:28px;}
.li1{background:url(../images/login_box_ico_01.png) center no-repeat;}
.li2{background:url(../images/login_box_ico_02.png) center no-repeat;}
.li3{background:url(../images/login_box_ico_03.png) center no-repeat;}
.li4{background:url(../images/login_box_ico_04.png) center no-repeat;}

.login_text{ border:0px; height:40px; line-height:40px; float:left; color:#686868; margin-left:50px; width:60%;}
.login_text:hover{ color:#f19f00;}

.send_yzm a{ position: absolute; top:0px; right:20px; color:#f19f00; display: block; padding:0px 10px;}

.but a{ width:90%; height:40px; line-height: 40px; background:#f19f00; display: block; color:#fff; text-align: center; border-radius: 50px; font-size:16px; margin:0px auto;}
.but a:hover{background:#fbc800; }

a.but_color_y:hover{color: #fff !important; }
a.but_color_b:hover {color:#f19f00 !important;}

.but_g a{ background:#ccc;}
.but_g a:hover{background:#ccc; }

/*个人中心*/
.body_bg{background:#f5f7fa;}
.vip_center{ width:200px; width:100%; background:#fbc800;}
.vip_center_top{ height:80px; margin:0px 20px; padding-top:20px; border-bottom:1px solid #fff; position: relative;}
.vip_center_con{height:80px;margin-top:20px;}
.vip_photo{ width:60px; height:60px; line-height: 60px; text-align: center; float:left; background:#f7f7f7; border-radius: 50%; overflow: hidden; margin-right:20px;}
.vip_photo img{ width:100%; height:100%; }
.vip_photo_xx{ padding-top:10px;}
.vip_photo_xx h1{ font-size:14px; color:#fff;}
.vip_photo_xx p{ font-size:14px; color:#fff;}
.vip_center_con ul li{ float:left; border-right:1px solid #fff; width:50%; box-sizing: border-box; text-align: center;}
.vip_center_con ul li:last-child{border-right:0px;}
.sum p{ line-height: 30px;color:#fff;}
.sum h1{ line-height: 30px; font-size:16px;color:#fff;}
.refresh{ position: absolute; top:20px; right:0px; width:20px; height:20px;}
.refresh img{ width:100%; height:100%;} 

.vip_body{ margin-top:10px; overflow:hidden;}
.vip_tab{ height:42px; line-height: 42px; overflow:hidden; background:#fff; }
.vip_tab ul li{ float:left; width:50%;}
.vip_tab ul li a{display: block; text-align: center; line-height: 40px; height:40px;}
.vip_tab ul li a:hover{ display: block; color:#f19f00; border-bottom:2px solid #f19f00;}
.vip_tab ul li.now a{ display: block; color:#f19f00; border-bottom:2px solid #f19f00;}
.borrow_list{ }
.borrow_list ul li{ background:#fff; overflow:hidden; padding:20px 20px; margin-top:10px;}
.borrow_con{}
.borrow_top{padding-bottom:10px; border-bottom:1px dashed #eee;}
.borrow_photo{ width:36px; height:36px; float:left; margin-right:10px;}
.borrow_photo img{ width:100%; height:100%;}
.borrow_xx h1{ font-size: 16px;}
.borrow_xx h1 span{ border:1px solid #f19f00; padding:2px 10px; color:#f19f00; font-size:12px; margin-left:10px;}
.borrow_xx p{ font-size:12px;}
.borrow_xx span{ color:#f19f00; margin:0px 3px;}
.borrow_bottom {margin-top:10px;}
.borrow_bottom dl dd{ float:left; width:33%; text-align: center;}

.borrow_b_xx h1{ font-size:14px; color:#f19f00; line-height: 24px;}
.borrow_b_xx p{ font-size:12px; color:#686868;}


.body_contant{ overflow:hidden;}
.body_contant h1{ font-size:16px; height:50px; line-height: 50px; padding:0px 20px; background:#fff; }
.body_contant h1 span{  width:24px; height:24px; float:left; background-size: 100%; margin:12px 10px 0px 0px;}
.bo_ico1{background:url(../images/borrow.png) no-repeat;}
.bo_ico01{background:url(../images/bo-ico01.png) no-repeat;}
.bo_ico02{background:url(../images/bo-ico02.png) no-repeat;}
.bo_ico03{background:url(../images/bo-ico03.png) no-repeat;}
.borrow_content{ background:#fff; margin-top:10px;}

.borrow_content ul li{ height:40px; line-height: 40px; border-bottom:1px solid #eee; padding:0px 20px;}
.borrow_content ul li span{ float:left;}
.borrow_content ul li font{ float:right; color:#686868;}
.borrow_bottom{ position:fixed; bottom:0px; border-top:1px solid #e6e6e6; background:#fff; height:60px; width:100%;}
.borrow_but{ text-align: center;}
.borrow_but a{ display: inline-block; padding:0px 20px; height:38px; line-height: 38px; font-size:14px; border-radius: 50px; margin-top:10px; margin-right:10px;}
.but_color_b{ background:#fff; border:1px solid #eee; color:#686868;}
.but_color_y{ background:#f19f00; border:1px solid #f19f00; color:#fff;}
.but_color_l{ background:#65c1ce; border:1px solid #65c1ce; color:#fff;}
.vip_personal{height:60px; border-bottom:1px solid #eee; padding:10px 20px; background:#fff;}
.personal_photo{ width:60px; height:60px; line-height: 60px; text-align: center; float:left; background:#f7f7f7; border-radius: 50%; overflow: hidden; margin-right:20px;}
.personal_photo img{ width:100%; height:100%; }

.vip_personal1{height:70px; border-bottom:1px solid #eee; padding:10px 20px; background:#fff;}
.personal_photo1{ width:70px; height:70px; line-height: 70px; text-align: center; float:left; background:#f7f7f7; border-radius: 50%; overflow: hidden; margin-right:20px;}
.personal_photo1 img{ width:100%; height:100%; }
.personal_photo1_xx{ }
.personal_photo1_xx p{ font-size:14px; color:#686868; line-height: 24px;}

.personal_photo_xx{ padding-top:10px;}
.personal_photo_xx h1{ font-size:16px; color:#333358; line-height: 24px;}
.personal_photo_xx p{ font-size:14px; color:#686868;}
.vip_personal_con ul li{ height:40px; line-height: 40px; border-bottom:1px solid #eee; padding:0px 20px; color:#686868; position: relative;} 
.vip_personal_con ul li span i{ width:24px; height:24px; float:left; margin-top:8px; margin-right:10px;}
.p_ico1{background:url(../images/p_ico01.png) no-repeat; background-size:100%;}
.p_ico2{background:url(../images/p_ico02.png) no-repeat; background-size:100%;}
.p_ico3{background:url(../images/p_ico03.png) no-repeat; background-size:100%;}
.p_ico4{background:url(../images/p_ico04.png) no-repeat; background-size:100%;}
.vip_personal_con ul li b{ background:url(../images/more.png) no-repeat; width:18px; height:18px; background-size:100%; position:absolute; right:20px; top:10px;}
.vip_personal_con ul li font{ float:right; margin-right:40px; text-align: right;}


.firend{}
.firend p{ font-size:14px; color:#686868; margin-left:10px;}
.seach{ height:40px; line-height: 40px; text-align: center; margin-bottom:10px; background:url(../images/seach.png) 10px no-repeat; text-indent:40px;background-color:#fff; border:1px solid #eee; border-radius: 5px;width:96%; margin:10px auto; background-size:8%;}
.seach input{  height:40px; line-height: 40px; text-align: left; border:0px; width:80%;}
.firend_list{ background:#fff;}
.firend_list ul li{ height:50px; line-height: 50px; border-bottom:1px solid #eee;}
.firend_img{ width:36px; height:36px; float:left; margin:6px 10px;}
.firend_img img{ width:100%; height:100%;}

/*table*/
.borrow_table table{ width:100%; background:#fff;border-top:1px solid #eee;}
.borrow_table table tr th{ padding:0px 5px;height:40px; line-height: 40px; text-align: center; border-bottom:1px solid #eee; }
.borrow_table table tr td{padding:10px 5px; line-height: 20px; text-align: center; border-bottom:1px solid #eee; color:#686868;}
.borrow_height{height:80px;}


.edit_password{}
.edit_password p{ font-size:14px; color:#686868; padding:10px; line-height: 20px;}
.edit_con{ border:1px solid #eee;border-left:0px; border-right:0px; height:40px; line-height: 40px; background:#fff; padding:0px 10px; position: relative; margin-bottom:20px;}
.edit_con span{ float:left; margin-right:10px;}
.edit_con input{ float:left; line-height: 40px; height:40px; width:80%; border:0px;}

.password_lc{ width:200px; margin:50px auto 0px auto; position: relative; overflow:hidden;}
.password_lc ul{ }
.password_lc ul li{ float:left; color:#fff; text-align: center; width:100px;}
.lc_number{ border-radius: 50%; width:36px; height:36px; line-height: 36px; text-align: center; background:#f19f00; margin:0px auto;}
.lc_number_g{border:1px solid #eee; background:#fff; color:#686868; margin:0px auto; border-radius: 50%; width:36px; height:36px; line-height: 36px; text-align: center;}
.passord_lc_line{ height:1px; background: #f19f00; width:60px; position: absolute; top:18px;left:50%; margin-left:-30px;}
.set_password ul li{  display: inline-block;}
.set_password { text-align: center; margin:20px 0px;}
.set_password input{ height:40px; width:40px; border:1px solid #eee; text-align: center;}

.bank_set ul li{ border-bottom:1px solid #eee; height:40px; line-height: 40px;position: relative; }
.bank_con{background:#fff; padding:0px 10px; overflow:hiddne;}
.bank_con span{ float:left; margin-right:10px; width:80px;}
.bank_con input{line-height: 40px; height:40px; width:70%; border:0px; float:right; text-align: right;}
.bank_set{ background:#fff;}
.bank_set ul li b{ background:url(../images/more.png) no-repeat; width:18px; height:18px; background-size:100%; position:absolute; right:20px; top:10px;}
.bank_set ul li font{ float:right; margin-right:40px; text-align: right; color:#686868;}
.bank{ margin:20px;}
.bank ul li{ margin-bottom:10px;}
.add_bank{ background:url(../images/add.png) center center no-repeat; background-color:#fff; border:1px solid #eee; width:100%; height:120px; border-radius: 5px;}
.add_bank h1{ color:#fff; font-size:16px; margin:20px;}
.add_bank p{ color:#fff; font-size:14px; margin:40px 20px 20px 20px;}
.add_bank p span{ margin-right:20px;}
.bank_bank{ background:#f19f00;}

.money_con{height:80px;padding-top:20px;background:#f19f00;}
.money_con ul li{ float:left; border-right:1px solid #fff; width:33%; box-sizing: border-box; text-align: center;}
.money_con ul li:last-child{border-right:0px;}

.money_con2{height:70px;padding-top:10px;background:#f19f00;}
.money_con2 ul li{ float:left; border-right:1px solid #fff; width:50%; box-sizing: border-box; text-align: center;}
.money_con2 ul li:last-child{border-right:0px;}

.money_con3{height:70px;padding-top:10px;background:#f19f00; text-align: center; border-bottom:1px solid #fff;}

.money_list{margin:10px; overflow:hidden;}
.money_list ul li{margin-bottom:10px; background:#fff; overflow:hidden;}
.meney_con{margin:10px;overflow:hidden;}
.meney_l{ float:left;}
.meney_l h1{ font-size:16px; color:#f19f00; line-height: 30px;}
.meney_l p{ font-size:12px; color:#686868;}
.meney_r{ float:right; margin-top:2px; color:#686868; text-align: right;}
.meney_check{ float:left; margin:6px 10px;}
.back_meny_list h1{ height:40px; line-height: 40px; border-bottom:1px solid #eee;}
.back_meny_list h1 span{ float:left;}
.back_meny_list h1 font{ float:right;color:#f19f00;}
.back_meney_con{ margin-top:10px;}
.back_meney_con dd {float:left; text-align: center; width:33%;}
.back_meney_con dd h1{ line-height: 30px; }
.back_meney_con dd p{ color:#686868; line-height: 30px;}

.back_but a{  width:80px; height:30px; line-height: 30px; color: #fff; background:#f19f00; display: block; border-radius: 5px; margin-top:10px; float:right;} 
.borrow_pic_con{  padding:0px 20px 10px; background:#fff; overflow:hidden; border-bottom:1px solid #eee;}
.borrow_pic_con span{line-height: 40px;}
.borrow_pic{}
.borrow_pic dl dd{ width:100px; height:60px; float:left; margin-right:10px; margin-bottom:10px;}

.borrow_pic img{width:100px; height:60px;}
.ckzq{}
.ckzq p{ line-height:40px;padding:0px 10px;}
.ckzq_list{ background:#fff; border:1px solid #eee; border-left:0px; border-right:0px;padding:10px 10px; overflow:hidden;}
.ckzq_list ul li{ line-height:30px; color:#686868; float:left; width:50%;}
.ckzq_list ul li span{color:#333358;}
.ckzq_list ul li font{color:#686868;}

.daiou{ margin-top:40px; position: relative;}
.daiou_list{background:#fff; padding:10px 10px; overflow:hidden; border-bottom:1px solid #eee;}
.daiou_list ul li{ line-height:30px; color:#686868; clear:both;}
.daiou_list ul li span{color:#333358;float:left; }
.daiou_list ul li font{color:#686868; float:right;}
.daiou_list ul li font em{color:#333358; float:right;}
.daiou_list ul li font input{ text-align:right; line-height: 30px; border:0px; }

.daiou_sm{margin:10px;}
.daiou_sm p{ color:#686868; line-height: 24px;}
.daiou_sm strong{  font-weight: bold;}
.daiou_person{ width:40px; height:40px; line-height: 40px; background:#f19f00; position: absolute; left:50%; top:-20px; border-radius: 50%; margin-left:-20px; text-align: center;}
.daiou_person img{ width:80%; height:80%; margin-top:3px;}

.borrow_yt{ background:#fff; border:1px solid #eee; padding:10px; border-left:0px; border-right:0px; overflow:hidden;}
.borrow_yt ul{ width:100%; margin:0px auto; margin-right:-2%;}
.borrow_yt ul li a{ float:left; display: block; width:31%; hegiht:40px; line-height: 40px; text-align: center; color:#fff; background:#c0c2c5; border-radius: 5px; margin-right:2%; margin-bottom:10px;}
.borrow_yt ul li a:hover{ background:#f19f00;}
.borrow_yt ul li.now a{ background:#f19f00;}

.bc_textarea{background:#fff; border:1px solid #eee; padding:10px; border-left:0px; border-right:0px; overflow:hidden;}
.bc_textarea textarea{line-height: 24px; width:100%; height:100px;}

.add_pic{background:#fff; border:1px solid #eee; padding:10px; border-left:0px; border-right:0px; overflow:hidden;}
.add_pic dl{width:100%; margin:0px auto; margin-right:-2%;}
.add_pic dl dd a{ display:block; background:url(../images/add.png) center center no-repeat; background-size:30%; overflow:hidden; background-color:#fff; border:1px solid #eee; box-sizing: border-box; border-radius: 5px; width:31%; height:60px; float:left; margin-right:2%; margin-bottom:10px;position: relative;}
.add_pic img{width:100%; height:60px; }
.add_pic a:hover i{ display: block;}
.add_pic dl dd a i{ position:absolute; right: 0px; top:0px;background: url(../images/wxx_ico.png) no-repeat; width:20px; height:20px; border-radius: 50%; display: none;}

.pic_pic { line-height:30px; text-align: left;}
.pic_pic span{ width:30px; height:30px; float:left; display: block; margin-right:5px;}
.pic_pic img{ width:100%; height:100%;}

.rz_con{background:#fff; border:1px solid #eee; border-bottom:0px; border-left:0px; border-right:0px; overflow:hidden; position: relative;}
.rz_con ul li{float:left; width:50%; border-right:1px solid #eee; border-bottom:1px solid #eee;box-sizing: border-box; padding-bottom: 10px;}
.rz_con ul li:eq(1)
.rz_con_list{ text-align: center;}
.rz_con_ico{width:36px; height:36px; margin:10px auto;}
.rz_con_ico img{width:100%; height:100%;}
.rz_con_list h2{ font-size:14px;color:#333358; line-height: 20px; text-align: center;}
.rz_con_list p{ font-size:12px;color:#ff0000; line-height: 20px; text-align: center;}
.rz_more { background:#fff; height:40px; border-bottom: 1px solid #eee; line-height: 40px; width:100%; text-align: center;}
.rz_more a{ height:40px; line-height: 40px; text-align: center; color:#f19f00;}
.bank_ff{ text-align: center; margin:10px 0px; overflow: hidden; line-height: 30px; position: relative; color: #0ba194;}
.bank_ff span{ width:20px; height:20px; position: absolute; left:50%; margin-left:-70px; top:4px;}
.bank_ff img{ width:100%; height:100%;}
.load{ width:80px; height:80px; position: absolute; left:50%; margin-left:-48px; top:60px; border-radius: 50%; background:#fff; border:8px solid #f19f00; text-align: center; color:#f19f00; font-size: 18px; line-height: 80px;}



.bottom_rz{  height:60px; background:#fff; border-top:1px solid #e6e6e6; width:100%; position: fixed; bottom:0px;}
.bottom_rz ul{ width:99%; margin:8px auto; overflow:hidden;}
.bottom_rz ul li{ float:left; width:50%; text-align:center; font-size:14px; border-right:1px solid #e6e6e6; box-sizing: border-box;}
.bottom_rz ul li:last-child{ border-right:0px solid #e6e6e6;}
.bottom_rz ul li a{ display:block; cursor:pointer; line-height: 40px;}
.question{margin:10px;}
.question dt{ color:#ff0000; font-size:16px; line-height: 40px;}
.question dd{ line-height: 20px; margin-bottom:10px; color:#686868;}
.zm_logo{ width:100%;  display:flex;flex-direction:column;justify-content:center;align-items:center; background:#fff; border-bottom:2px solid #65c1ce;}
.zm_logo img{width:40%;}
.zm_con{ margin:20px;} 
.zm_con p{ line-height:20px; color:#686868; margin-bottom:10px;} 
.zm_con p strong{font-weight: bold;}

.send_yzm_but{}
.send_yzm_but a{ float:right; color:#f19f00;  display: block; padding:0px 10px; border-radius: 5px;}

.record{padding:10px;  background:#fff; border:1px solid #eee;}
.record span{ float:left; margin-right:10px;}
.select{ border:1px solid #eee; }
.record_con { overflow:hidden;}
.record_con p{ line-height: 40px; margin:0px 10px;}
.record_con ul{  overflow:hidden;}
.record_con ul li{ padding:10px; position: relative; margin-bottom:10px; overflow:hidden; background:#fff; border:1px solid #eee; border-left:0px; border-right:0px;}
.record_list dl dd{ float:left; color:#686868; line-height: 30px; width:50%;}
.record_list dl dd span{color:#333358; }
.record_con ul li b{ background:url(../images/more.png) no-repeat; width:24px; height:24px; background-size:100%; position:absolute; right:10px; top:40px;}
.zd_xx{ overflow:hidden;}
.zd_xx p{ line-height: 40px; padding:0px 10px;}
.zd_xx table{background:#fff; overflow:hidden; width:100%; border-top:1px solid #eee;}
.zd_xx table tr th{ border-right:1px solid #eee; border-bottom:1px solid #eee; padding:10px;}
.zd_xx table tr td{ border-bottom:1px solid #eee; color:#686868;padding:10px;}
.sfz_img{ width:100px; height:60px;}
.sfz_img img{ width:100%; height:100%;}

.set_about{ background:#fff; border:1px solid #eee; border-left:0px; border-right:0px; padding:10px;}
.set_about_logo{display:flex;flex-direction:column;justify-content:center;align-items:center;}
.set_about_logo img{ width:50%;}
.set_about h1{ text-align: center; line-height: 30px; font-size:18px;}
.set_about p{ text-align: center; line-height: 20px; color:#686868;}
.set_about_con{ border-top:1px solid #eee; margin-top:10px; padding-top:20px;}
.set_about_con p{ line-height:24px; color:#686868; text-align: left;}






.bottom_check{float:left; line-height: 60px; margin-left:10px;}
.bottom_check input{ margin-right:10px;}
.bottom_menu{  height:60px; background:#f8f8f8; border-top:1px solid #e6e6e6; width:100%; position: fixed; bottom:0px;}
.bottom_menu ul{ width:99%; margin:8px auto; overflow:hidden;}
.bottom_menu ul li{ float:left; width:24%; text-align:center; font-size:14px; }
.bottom_menu ul li p{ line-height:24px;}
.bottom_menu ul li a{ display:block; cursor:pointer;}
.bottom_menu ul li a:hover{ color:#f19f00;}
.bottom_menu ul li a:hover .b_ico1{background:url(../images/ico_1h.png) no-repeat; background-size:100%;}
.bottom_menu ul li a:hover .b_ico2{background:url(../images/ico_2h.png) no-repeat; background-size:100%;}
.bottom_menu ul li a:hover .b_ico3{background:url(../images/ico_3h.png) no-repeat; background-size:110%;}
.bottom_menu ul li a:hover .b_ico4{background:url(../images/icon_query_credit.png) no-repeat; background-size:110%;}
.bottom_ico{ width:24px; height:24px; margin:0px auto;}
.b_ico1{background:url(../images/ico_1.png) no-repeat; background-size:100%;}
.b_ico2{background:url(../images/ico_2.png) no-repeat; background-size:100%;}
.b_ico3{background:url(../images/ico_3.png) no-repeat; background-size:110%;}
.b_ico4{background:url(../images/icon_query_credit.png) no-repeat; background-size:110%;}

.ico_auth_1{background:url(../images/icon_auth_personal.png) no-repeat; background-size:100%;}
.ico_auth_2{background:url(../images/icon_auth_mobile.png) no-repeat; background-size:100%;}
.ico_auth_3{background:url(../images/icon_auth_contact.png) no-repeat; background-size:100%;}
.ico_auth_4{background:url(../images/icon_auth_contact_sync.png) no-repeat; background-size:100%;}
.ico_auth_5{background:url(../images/icon_auth_jd.png) no-repeat; background-size:100%;}
.ico_auth_6{background:url(../images/icon_auth_taobao.png) no-repeat; background-size:100%;}
.ico_auth_7{background:url(../images/icon_auth_other.png) no-repeat; background-size:100%;}


.vip_center_top_new{ padding:20px; height:40px;}
.vip_top_ico{ width:30px; height:30px;}
.t_ico1{background:url(../images/m_zhang.png) no-repeat; background-size:100%;}
.t_ico2{background:url(../images/m_person.png) no-repeat; background-size:100%;}
.rz_p{ height:30px; line-height: 30px; text-align: center; color:#fff; font-size:16px; padding-bottom:20px;}


.v_t_ico{padding:20px; height:40px; width:100px; height:100px; margin:0px auto;}
.v_t_ico img {width:100%; height:100%;}

.m_ico1{background:url(../images/m_ico1.png) no-repeat; background-size:110%;}
.m_ico2{background:url(../images/m_ico2.png) no-repeat; background-size:110%;}
.m_ico3{background:url(../images/m_ico3.png) no-repeat; background-size:110%;}
.m_ico4{background:url(../images/m_ico4.png) no-repeat; background-size:110%;}
.m_ico5{background:url(../images/m_ico5.png) no-repeat; background-size:110%;}
.m_ico6{background:url(../images/m_ico6.png) no-repeat; background-size:110%;}
.m_ico7{background:url(../images/m_ico7.png) no-repeat; background-size:110%;}