<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" href="../css/weui.css"/>
    <link rel="stylesheet" href="../css/wx_common.css"/>
    <link rel="stylesheet" href="../css/wx_main.css"/>
    <link href="../css/page.css" rel="stylesheet" type="text/css"/>
    <script src="../libs/zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="../js/wx_common.js"></script>
    <script src="../js/wx/verify_sms.js"></script>
    <script th:inline="text">
        var userMobile = '[[${TX_USER.mobile}]]';
    </script>
</head>
<body ontouchstart="" class="body_bg">

<div class="edit_password">
    <p id="verifyCodeTitle">请获取手机验证码</p>
    <div class="edit_con">
        <span>验证码</span>
        <input type="text" id="verifyCode" placeholder="输入你收到的手机验证码"/>
        <div class="send_yzm"><a id="getCode">获取验证码</a></div>
    </div>
    <div class="login_box"><div class="but"><a id="nextStep" href="javascript:">下一步</a></div></div>
</div>

<input id="forwardUrl" type="hidden" th:value="${forwardUrl}" />
<input id="type" type="hidden" th:value="${type}" />

</body>
</html>
