<!DOCTYPE html>
<html>
<head>
<title>申请转化率</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<style>
#myTabContent {
	padding-top: 20px;
}
.sum li {
	width: 14.2%;
	list-style: none;
	float: left;
	padding-left: 25px;
	padding-right: 25px;
	border-right: solid 1px #ececec;
}
.sum .inner {
	text-align: center;
}
.sum .inner h3 span{
	font-size: 22px;
	color: #333;
}
.sum .inner p {
	font-size:16px; 
	color: #666;
}
.sum .last {
	border-right: none;
	color: #f19f00;
	font-weight: bold;
}
</style>
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="sumApp" class="row sum" style="border-top: none; padding-bottom: 20px; padding-top: 5px;">
  <li>
    <div class="inner">
      <h3> <span v-if="stat.totalCount > 0">{{formatNumber(stat.totalPendingCount * 100 / stat.totalCount)}}% </span> </h3>
      <p> 待审核占比 </p>
    </div>
  </li>
  <li>
    <div class="inner">
      <h3> <span v-if="stat.totalCount > 0">{{formatNumber(stat.totalProcessingCount * 100 / stat.totalCount)}}% </span> </h3>
      <p> 审核中占比 </p>
    </div>
  </li>
  <li>
    <div class="inner">
      <h3> <span v-if="stat.totalCount > 0">{{formatNumber(stat.totalApprovedCount * 100 / stat.totalCount)}}% </span> </h3>
      <p> 已放款占比 </p>
    </div>
  </li>
  <li>
    <div class="inner">
      <h3> <span v-if="stat.totalCount > 0">{{formatNumber(stat.totalRejectedCount * 100 / stat.totalCount)}}% </span> </h3>
      <p> 拒绝受理占比 </p>
    </div>
  </li>
  <li>
    <div class="inner">
      <h3> <span v-if="stat.totalCount > 0">{{formatNumber(stat.totalCompletedCount * 100 / stat.totalCount)}}% </span> </h3>
      <p> 已结清占比 </p>
    </div>
  </li>
  <li>
    <div class="inner">
      <h3> <span v-if="stat.totalCount > 0">{{formatNumber(stat.totalOverdueCount * 100 / stat.totalCount)}}% </span> </h3>
      <p> 逾期占比 </p>
    </div>
  </li>
  <li class="last">
    <div class="inner">
      <h3> {{stat.totalCount}} </h3>
      <p> 总数量 </p>
    </div>
  </li>
</div>
<ul id="myTab" class="nav nav-tabs">
  <li class="active"> <a href="#auditorApp" data-toggle="tab"> 按审核人统计 </a> </li>
  <li><a href="#assigneeApp" data-toggle="tab" id="assigneeLink">按处理人统计</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div id="auditorApp" class="tab-pane fade in active" v-cloak>
    <div>
      <div class="grid-btn">
        <div class="form-group col-sm-2">
          <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="用户名">
        </div>
        <a class="btn btn-default" @click="query">查询</a> </div>
      <table id="jqGrid">
      </table>
      <div id="jqGridPager"></div>
    </div>
  </div>
  <div id="assigneeApp" class="tab-pane fade"  v-cloak>
    <div>
      <div class="grid-btn">
        <div class="form-group col-sm-2">
          <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="用户名">
        </div>
        <a class="btn btn-default" @click="query">查询</a> </div>
      <table id="jqGrid2">
      </table>
      <div id="jqGridPager2"></div>
    </div>
  </div>
</div>
<script src="../../js/modules/stat/request_stat.js"></script>
</body>
</html>