<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="format-detection" content="date=no"/>
    <!-- CSS reset -->
    <link rel="stylesheet" href="../css/rcpt/reset.css"/>
    <!-- Resource fontsIcon -->
    <link rel="stylesheet" href="../css/rcpt/fontsIcon.css"/>
    <!-- Resource nav -->
    <link rel="stylesheet" href="../css/rcpt/nav.css"/>
    <!-- Resource style -->
    <link rel="stylesheet" href="../css/rcpt/style.css"/>
    <!-- Resource credit -->
    <link rel="stylesheet" href="../css/rcpt/account.css"/>
    <!-- CSS FOOTER-NAV -->
    <link rel="stylesheet" type="text/css" href="../css/rcpt/paypsw.css"/>
    <link rel="stylesheet" href="../css/weui.min.css"/>
    <link rel="stylesheet" href="../css/jquery-weui.min.css"/>

    <title></title>
</head>

<body>

<div class="paypsw bounced-R">
    <div class="numb_box">
        <div class="sixpswbox">
            <div class="paytitle"><h3>请设置支付密码</h3></div>
            <ul class="sixpsw radius3PX">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="forgetpsw"></div>
        </div>
        <ul class="keyboard">
            <li>
                <div class="numpsw">1</div>
            </li>
            <li class="border0101">
                <div class="numpsw">2</div>
            </li>
            <li>
                <div class="numpsw">3</div>
            </li>
            <li>
                <div class="numpsw">4</div>
            </li>
            <li class="border0101">
                <div class="numpsw">5</div>
            </li>
            <li>
                <div class="numpsw">6</div>
            </li>
            <li>
                <div class="numpsw">7</div>
            </li>
            <li class="border0101">
                <div class="numpsw">8</div>
            </li>
            <li>
                <div class="numpsw">9</div>
            </li>
            <li>
                <div class="emptypsw">清空</div>
            </li>
            <li class="border0101">
                <div class="numpsw">0</div>
            </li>
            <li>
                <div class="delpsw">删除</div>
            </li>
        </ul>
    </div>
</div>

<input id="returnUrl" type="hidden" th:value="${returnUrl}"/>
</body>

<script src="../libs/jquery.min.js"></script>
<script src="../libs/jquery-weui.min.js"></script>
<script src="../js/wx_common.js"></script>
<script type="text/javascript" src="../js/rcpt/main.js"></script>
<script type="text/javascript" src="../js/rcpt/set_password.js"></script>
</html>