<!DOCTYPE html>
<head>
<title>公告表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../libs/validator.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
			<div class="conBox">
				<div class="bord whiteBg mt15">
					<p style="font-size: 24px;text-align: center;">{{sysNotice.noticeTitle}}</p>
					<p style="text-align: center;">{{sysNotice.createTime}}</p>
					<div style="padding-left: 40px;padding-right: 40px;margin-top: 50px;margin-bottom: 50px;">
						<p v-html="sysNotice.noticeContent"></p>
					</div>
				</div>
			</div>
			<div class="form-group" style=" text-align: center;margin-top: 50px;">
				<div class="col-sm-2 control-label"></div>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
	</div>
</div>

<script src="../../js/modules/sys/merchantNotice.js"></script>
</body>
</html>