.borrowRecord{
    width: 100%;
    height: auto;
}
.borrowRecord #recordTitle{
    width: 100%;
    height: 40px;
}
.borrowRecord #recordTitle ul li
{
    width: 25%;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    position: relative;
}
.borrowRecord #recordTitle .active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 35px;
    right: 35px;
    height:3px;
    background-color: #ca9273;
}
.borrowRecord #itemCont{width: 100%;height: auto;margin: auto;min-height: 185px;}
.kk{width: 100%;height: auto;display: none;}
.sub-cont{
    width: 90%;
    height: 80px;
    margin:20px  auto;
    box-shadow:0.5px 0.5px 5px #ececec;
    border-radius: 4px;
    
}
.sub-cont ul{width: 100%;height: 100%;}
.sub-cont ul li{line-height: 30px;text-align: center}
 .sub-cont >ul{width: 100%;height: 30px;}
 .sub-cont >ul:first-child{padding-top: 10px}
 .sub-cont >ul >li{float: left;line-height: 30px;width: auto;font-size: 16px;}
 .sub-cont >ul >li:first-child{padding-left: 10px}
 .sub-cont >ul >li:nth-child(2){float: right;padding-right: 10px}
.colorred{color: #ef4040;font-size: 18px!important;}
.colorblue{color: #18acf8;font-size: 16px}
.colorgray{color: #999}
.coloryellow{color: #e8630a}
.colorgreen{color: #a6e4b0}
