@charset "utf-8";
/* CSS Document */
/* CSS ICO图标,风格 */
@font-face {
	font-family: 'FontAwesome';
	src: url('../../fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
}
[class^="linecons-"], [class*=" linecons-"] {
 display: inline-block;
 font-family: FontAwesome;
 font-style: normal;
 font-weight: normal;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.linecons-refresh:before { /*刷新*/
	content: "\f021";
}
.linecons-financial:before { /*我要理财*/
	content: "\f157";
}
.linecons-borrowing:before { /*融资借贷*/
	content: "\f0ea";
}
.linecons-tick:before {
    content: "\f00c";
}
.linecons-security:before { /*安全保障*/
	content: "\f132";
}
.linecons-volume:before { /*成交量*/
	content: "\f0c0";
}
.linecons-refresh:before { /*刷新*/
	content: "\f01e";
}
.linecons-more:before { /*更多*/
	content: "\f101";
}
.linecons-LT:before {/*小于号<*/
	content: "\f104";
}
.linecons-GT:before {/*大于号>*/
	content: "\f105";
}
.linecons-arrowDown:before {/*箭头↓*/
	content: "\f175";
}
.linecons-arrowUp:before {/*箭头↑*/
	content: "\f176";
}
.linecons-down:before {/* ∨ */
	content: "\f107";
}
.linecons-upward:before {/* ∧ */
	content: "\f106";
}
.linecons-connection:before { /*连接*/
	content: "\f016";
}
.linecons-mall:before { /*商城*/
	content: "\f07a";
}
.linecons-novice:before { /*新手指引*/
	content: "\f059";
}
.linecons-guide:before { /*帮助向导*/
	content: "\f06a";
}
.linecons-logo:before {/*锁头*/
	content: "\f023";
}
.linecons-Integral:before {/*积分券*/
	content: "\f145";
}
.linecons-registered:before {/*注册*/
	content: "\f0c0";
}
.linecons-phone:before {/*电话*/
	content: "\f095";
}
.linecons-weibo:before {/*微博*/
	content: "\f18a";/*color: #DF9898;*/
}
.linecons-letters:before {/*邮箱*/
	content: "\f0e0";/*color: #DF9898;*/
}
.linecons-apple:before { /*APP 苹果*/
	content: "\f179";
}
.linecons-radio:before { /*广播*/
	content: "\f028";
}
.linecons-out:before {/*登出*/
	content: "\f08b";
}
.linecons-Wechat:before { /*微信*/
	content: "\f0e6";/*color:#0C3;*/
}
.linecons-record:before { /*资金记录*/
	content: "\f044";/*color:#0C3;*/
}
.linecons-statistical:before { /*资金统计*/
	content: "\f080";/*color:#0C3;*/
}
.linecons-rmb:before { /*RMB符号*/
	content: "\f157";
}
.linecons-bankCard:before { /*提现记录*/
	content: "\f09d";/*color:#0C3;*/
}
.linecons-home:before { /*首页*/
	content: "\f015";
}
.linecons-user:before { /*用户中心*/
	content: "\f007";
}
.linecons-signRMB:before { /*￥*/
	content: "\f157";
}
.linecons-thumbs:before { /*拇指*/
	content: "\f164";
}
.linecons-triangleU:before { /*三角箭下*/
	content: "\f0d7";
}
.linecons-comments:before {
	content: "\f086";
}
/*--列表淡入--*/
.fadeIn {
	webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
/*--由上往下--*/
.bounceInDown {
	webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
}
/*--弹出回位--*/
.hvr-pop {
	webkit-animation-name: hvr-pop;
	animation-name: hvr-pop;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
}
/*----------上下浮动-----------*/
.upDown {
	-webkit-animation: upDown 2s infinite ease-in-out;
	-moz-animation: upDown 2s infinite ease-in-out;
	-ms-animation: upDown 2s infinite ease-in-out;
	animation: upDown 2s infinite ease-in-out;
}
/*----------旋转-----------*/
.Round {
	-webkit-animation: Round 2s infinite ease-in-out;
	-moz-animation: Round 2s infinite ease-in-out;
	-ms-animation: Round 2s infinite ease-in-out;
	animation: Round 2s infinite ease-in-out;
}
/*----------无间隙旋转-----------*/
.rotate {
	-webkit-animation: rotate 20s linear infinite;
	-o-animation: rotate 20s linear infinite;
	-moz-animation: rotate 20s linear infinite;
	-ms-animation: rotate 20s linear infinite;
	animation: rotate 20s linear infinite;
}
/*----------贴入-----------*/
.bg-font-animate {
	-webkit-animation: bgFontAnimate .3s linear;
	-moz-animation: bgFontAnimate .3s linear;
	-o-animation: bgFontAnimate .3s linear;
	-ms-animation: bgFontAnimate .3s linear;
}
/*--------底部升起---------*/
.slideInUp {
	-webkit-animation: slideInUp .8s linear;
	-moz-animation: slideInUp .8s linear;
	-o-animation: slideInUp .8s linear;
	-ms-animation: slideInUp .8s linear;
}
.bAf {
	-webkit-animation: nudge 5s linear infinite alternate;
	-moz-animation: nudge 5s linear infinite alternate;
	-ms-animation: nudge 5s linear infinite alternate;
	-o-animation: nudge 5s linear infinite alternate;
	animation: nudge 5s linear infinite alternate;
}
/*---------抖动-----------*/
.shakeSign {
	-webkit-animation: shakeSign 3.5s infinite;
	animation: shakeSign 3.5s infinite;
}
@-webkit-keyframes shakeSign {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
45% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
47.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
55% {
-webkit-transform:rotate(2deg);
transform:rotate(2deg)
}
57.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
60% {
-webkit-transform:rotate(2deg);
transform:rotate(2deg)
}
62.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
65% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}
}
@keyframes shakeSign {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
45% {
-webkit-transform:rotate(0deg);
 transform:rotate(0deg)
}
47.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
55% {
-webkit-transform:rotate(2deg);
transform:rotate(2deg)
}
57.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
60% {
-webkit-transform:rotate(2deg);
transform:rotate(2deg)
}
62.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
65% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}
}
/*----------远程进入-----------*/
.scaleBall {
	-webkit-animation: scaleBall 0.6s linear forwards;
	animation: scaleBall 0.6s linear forwards;
}
@keyframes scaleBall {
 0% {
 opacity: 0;
 transform: scale(0);
}
 78% {
 opacity: 1;
 transform: scale(1.3);
}
 100% {
 opacity: 1;
 transform: scale(1);
}
}
@-webkit-keyframes scaleBall {
 0% {
 opacity: 0;
 transform: scale(0);
 -webkit-transform: scale(0);
}
 78% {
 opacity: 1;
 transform: scale(1.3);
 -webkit-transform: scale(1.3);
}
 100% {
 opacity: 1;
 transform: scale(1);
 -webkit-transform: scale(1);
}
}

/*上下*/
 @-webkit-keyframes upDown {
0% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
50% {
-webkit-transform: translate(0, -15px);
transform: translate(0, -15px);
}
100% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
}
@keyframes upDown {
0% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
50% {
-webkit-transform: translate(0, -15px);
transform: translate(0, -15px);
}
100% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
}
/*无间隙旋转*/
@-webkit-keyframes rotate {
 0% {
-webkit-transform:rotate(360deg);
}
 100% {
-webkit-transform:rotate(0deg);
}
}
@-o-keyframes rotate {
 0% {
-o-transform:rotate(360deg);
}
 100% {
-o-transform:rotate(0deg);
}
}
@-moz-keyframes rotate {
 0% {
-moz-transform:rotate(360deg);
}
 100% {
-moz-transform:rotate(0deg);
}
}
@-ms-keyframes rotate {
 0% {
-ms-transform:rotate(360deg);
}
 100% {
-ms-transform:rotate(0deg);
}
}
@keyframes rotate {
 0% {
transform:rotate(360deg);
}
 100% {
transform:rotate(0deg);
}
}
/*旋转*/
 @-webkit-keyframes Round {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes Round {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
/*透明不透明*/
 @-webkit-keyframes opacity {
0%, 100% {
opacity:1;
}
50% {
opacity:.3
}
}
@keyframes opacity {
0%, 100% {
opacity:1;
}
50% {
opacity:.3
}
}
/*飘出*/
@-webkit-keyframes shower {
0% {
opacity: 0;
-webkit-transform: translate(1000px, -1500px);
transform: translate(1000px, -1500px);
}
20% {
opacity: 0;
-webkit-transform: translate(250px, -400px);
transform: translate(250px, -400px);
}
100% {
opacity: .6;
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
}
@keyframes shower {
0% {
opacity: 0;
-webkit-transform: translate(500px, -500px);
transform: translate(500px, -500px);
}
20% {
opacity: 0;
-webkit-transform: translate(250px, -400px);
transform: translate(250px, -400px);
}
100% {
opacity: .6;
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
}
 @-webkit-keyframes showerB {
0% {
opacity: 0;
-webkit-transform: translate(1000px, -800px);
transform: translate(1000px, -800px);
}
20% {
opacity: 0;
-webkit-transform: translate(500px, -400px);
transform: translate(500px, -400px);
}
100% {
opacity: .6;
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
}

/*抖动*/
@keyframes shakeEffect {
0% {
 transform: translate(2px, 1px) rotate(0deg);
}
 10% {
 transform: translate(-1px, -2px) rotate(-1deg);
}
 20% {
 transform: translate(-3px, 0px) rotate(1deg);
}
 30% {
 transform: translate(0px, 2px) rotate(0deg);
}
 40% {
 transform: translate(1px, -1px) rotate(1deg);
}
 50% {
 transform: translate(-1px, 1px) rotate(-1deg);
}
 60% {
 transform: translate(-3px, -2px) rotate(0deg);
}
 70% {
 transform: translate(2px, 1px) rotate(-1deg);
}
 80% {
 transform: translate(-1px, -2px) rotate(1deg);
}
 90% {
 transform: translate(2px, -1px) rotate(0deg);
}
 100% {
 transform: translate(1px, -2px) rotate(-1deg);
}
}
 @-moz-keyframes shakeEffect { /* Firefox */
0% {
 -moz-transform: translate(2px, 1px) rotate(0deg);
}
 10% {
 -moz-transform: translate(-1px, -2px) rotate(-1deg);
}
 20% {
 -moz-transform: translate(-3px, 0px) rotate(1deg);
}
 30% {
 -moz-transform: translate(0px, 2px) rotate(0deg);
}
 40% {
 -moz-transform: translate(1px, -1px) rotate(1deg);
}
 50% {
 -moz-transform: translate(-1px, 1px) rotate(-1deg);
}
 60% {
 -moz-transform: translate(-3px, -2px) rotate(0deg);
}
 70% {
 -moz-transform: translate(2px, 1px) rotate(-1deg);
}
 80% {
 -moz-transform: translate(-1px, -2px) rotate(1deg);
}
 90% {
 -moz-transform: translate(2px, -1px) rotate(0deg);
}
 100% {
 -moz-transform: translate(1px, -2px) rotate(-1deg);
}
}
 @-webkit-keyframes shakeEffect { /* Safari and Chrome */
0% {
 -webkit-transform: translate(2px, 1px) rotate(0deg);
}
 10% {
 -webkit-transform: translate(-1px, -2px) rotate(-1deg);
}
 20% {
 -webkit-transform: translate(-3px, 0px) rotate(1deg);
}
 30% {
 -webkit-transform: translate(0px, 2px) rotate(0deg);
}
 40% {
 -webkit-transform: translate(1px, -1px) rotate(1deg);
}
 50% {
 -webkit-transform: translate(-1px, 1px) rotate(-1deg);
}
 60% {
 -webkit-transform: translate(-3px, -2px) rotate(0deg);
}
 70% {
 -webkit-transform: translate(2px, 1px) rotate(-1deg);
}
 80% {
 -webkit-transform: translate(-1px, -2px) rotate(1deg);
}
 90% {
 -webkit-transform: translate(2px, -1px) rotate(0deg);
}
 100% {
 -webkit-transform: translate(1px, -2px) rotate(-1deg);
}
}
/*反转一次*/
 @-webkit-keyframes moveUp {
50% {
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}
 51% {
opacity: 0;
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}
 52% {
opacity: 1;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}
 100% {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}
 @keyframes moveUp {
50% {
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}
 51% {
opacity: 0;
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}
 52% {
opacity: 1;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}
 100% {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}
/*贴进*/
@-webkit-keyframes bgFontAnimate {
 0% {
 -webkit-transform: scale(2, 2);
}
 100% {
 -webkit-transform: scale(1, 1);
}
}
@keyframes bgFontAnimate {
 0% {
 -webkit-transform: scale(2, 2);
}
 100% {
 -webkit-transform: scale(1, 1);
}
}
/*最低升进*/
@keyframes slideInUp {
0% {
-webkit-transform:translateY(100%);
transform:translateY(100%);
visibility:visible
}
to {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}
}
@-webkit-keyframes slideInUp {
0% {
-webkit-transform:translateY(100%);
transform:translateY(100%);
visibility:visible
}
to {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}
}
/*弹跳*/
@-webkit-keyframes move_point {
 0% {
-webkit-transform:translateY(10px);
}
 100% {
-webkit-transform:translateY(-10px);
}
}
@-o-keyframes move_point {
 0% {
-o-transform:translateY(10px);
}
 100% {
-o-transform:translateY(-10px);
}
}
@-moz-keyframes move_point {
 0% {
-moz-transform:translateY(10px);
}
 100% {
-moz-transform:translateY(-10px);
}
}
@-ms-keyframes move_point {
 0% {
-ms-transform:translateY(10px);
}
 100% {
-V-transform:translateY(-10px);
}
}
@keyframes move_point {
 0% {
transform:translateY(10px);
}
 100% {
transform:translateY(-10px);
}
}
/*来回走动*/
@-webkit-keyframes nudge {
 0%, 100% {
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
}
 50% {
 -webkit-transform: translate(150px, 0);
 transform: translate(150px, 0);
}
 80% {
 -webkit-transform: translate(-150px, 0);
 transform: translate(-150px, 0);
}
}
@keyframes nudge {
 0%, 100% {
 -webkit-transform: translate(0, 0);
 transform: translate(0, 0);
}
 50% {
 -webkit-transform: translate(150px, 0);
 transform: translate(150px, 0);
}
 80% {
 -webkit-transform: translate(-150px, 0);
 transform: translate(-150px, 0);
}
}
/*--向左切入--*/
@-webkit-keyframes fadeInRightS {
0% {
opacity:0;
-webkit-transform:translate3d(5%, 0, 0);
transform:translate3d(5%, 0, 0)
}
100% {
opacity:1;
-webkit-transform:none;
transform:none
}
}
@keyframes fadeInRightS {
0% {
opacity:0;
-webkit-transform:translate3d(5%, 0, 0);
-ms-transform:translate3d(5%, 0, 0);
transform:translate3d(5%, 0, 0)
}
100% {
opacity:1;
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}


/*--摇晃--*/
@-webkit-keyframes shakeSign {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
45% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
47.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
55% {
-webkit-transform:rotate(2deg);
transform:rotate(2deg)
}
57.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
60% {
-webkit-transform:rotate(2deg);
transform:rotate(2deg)
}
62.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
65% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}
}
@keyframes shakeSign {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
45% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
47.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
55% {
-webkit-transform:rotate(2deg);
transform:rotate(2deg)
}
57.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
60% {
-webkit-transform:rotate(2deg);
transform:rotate(2deg)
}
62.5% {
-webkit-transform:rotate(-2deg);
transform:rotate(-2deg)
}
65% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}
}

/*--淡入--*/
 @-webkit-keyframes fadeInRight {
0% {
opacity:0;
-webkit-transform:translate3d(5%, 0, 0);
transform:translate3d(5%, 0, 0)
}
100% {
opacity:1;
-webkit-transform:none;
transform:none
}
}
@keyframes fadeInRight {
0% {
opacity:0;
-webkit-transform:translate3d(5%, 0, 0);
-ms-transform:translate3d(5%, 0, 0);
transform:translate3d(5%, 0, 0)
}
100% {
opacity:1;
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}

/*--由上往下 弹动--*/
@-webkit-keyframes bounceInDown {
0%, 100%, 60%, 75%, 90% {
-webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
transition-timing-function:cubic-bezier(0.215, .61, .355, 1)
}
0% {
opacity:0;
-webkit-transform:translate3d(0, -3000px, 0);
transform:translate3d(0, -3000px, 0)
}
60% {
opacity:1;
-webkit-transform:translate3d(0, 25px, 0);
transform:translate3d(0, 25px, 0)
}
75% {
-webkit-transform:translate3d(0, -10px, 0);
transform:translate3d(0, -10px, 0)
}
90% {
-webkit-transform:translate3d(0, 5px, 0);
transform:translate3d(0, 5px, 0)
}
100% {
-webkit-transform:none;
transform:none
}
}
@keyframes bounceInDown {
0%, 100%, 60%, 75%, 90% {
-webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
transition-timing-function:cubic-bezier(0.215, .61, .355, 1)
}
0% {
opacity:0;
-webkit-transform:translate3d(0, -3000px, 0);
-ms-transform:translate3d(0, -3000px, 0);
transform:translate3d(0, -3000px, 0)
}
60% {
opacity:1;
-webkit-transform:translate3d(0, 25px, 0);
-ms-transform:translate3d(0, 25px, 0);
transform:translate3d(0, 25px, 0)
}
75% {
-webkit-transform:translate3d(0, -10px, 0);
-ms-transform:translate3d(0, -10px, 0);
transform:translate3d(0, -10px, 0)
}
90% {
-webkit-transform:translate3d(0, 5px, 0);
-ms-transform:translate3d(0, 5px, 0);
transform:translate3d(0, 5px, 0)
}
100% {
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}
/*--弹出回位--*/
@-webkit-keyframes hvr-pop {
 50% {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
}
 @keyframes hvr-pop {
 50% {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
}
